#contenedor {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 95%;
    max-height: 90%;
    top: 5%;
    left: 2.5%;
}

.row {
    width: 100%;
    height: 100%;
    max-width: 95%;
    max-height: 90%;

    background-color: blue;
}

#tarjetas {
    width: 15%;
    height: 270px;
    margin-top: 1.5%;
    margin-left: 1.5%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}

#editar {
    width: 40%;
    height: 10%;
    margin-top: 17%;
}

#seleccionar {
    width: 50%;
    height: 10%;
    margin-top: -27%;
    margin-left: 50%;
}

#boton {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 4%;
    max-height: 7%;
    top: 7.5%;
    left: 92.25%;
}

#boton #plus {
    width: 100%;
    height: 100%;
}