#contenedor {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 95%;
    max-height: 90%;
    top: 5%;
    left: 2.5%;
}

.row {
    width: 100%;
    height: 100%;
    max-width: 95%;
    max-height: 90%;
    position: absolute;
    top: 0%;
    left: 0.85%;
}

#tarjetas {
    width: 15%;
    height: 400px;
    margin-top: 1.5%;
    margin-left: 1.5%;
    border-radius: 10px;
    background-color: #ffffff70;
    border: 3px solid black;
}

#tarjetas #imagen {
    width: 100%;
    height: 40%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#tarjetas #imagen img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#editar,
#seleccionar,
#kilometraje,
#orden,
#implemento,
#mantenimiento{
    background-color: red;
    width: 42.5%;
    height: 10%;
    border-radius: 10px;
}















/*
#editar {
    width: 40%;
    height: 10%;
    margin-top: 17%;
}

#seleccionar {
    width: 50%;
    height: 10%;
    margin-top: -27%;
    margin-left: 50%;
}
*/
#boton {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 4%;
    max-height: 7%;
    top: 7.5%;
    left: 92.25%;
}

#boton #plus {
    width: 100%;
    height: 100%;
}