#mensaje {
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
}

#mensaje p {
    width: 70%;
    position: absolute;
    top: 20%;
    left: 15%;
}

#mensaje button {
    width: 70%;
    position: absolute;
    bottom: 20%;
    left: 15%;
}

#contenedor {
    width: 100%;
    max-width: 95%;
    min-height: 90%;
    position: absolute;
    top: 5%;
    left: 2.5%;
    justify-content: left;
    align-items: baseline;
}

#tarjetas {
    width: 100%;
    height: 500px;
    max-width: 300px;
    max-height: 450px;
    background-color: #ffffff70;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#tarjetas #imagen {
    width: 100%;
    height: 40%;
    margin-top: 0%;
    margin-left: 0%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#tarjetas #imagen img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#matricula,
#modelo {
    width: 100%;
    height: 5%;
    margin-top: 7.5px;
    margin-left: 0%;
}

#modelo {
    height: 12.5%;
}

#editar,
#seleccionar,
#kilometraje,
#orden,
#implemento,
#mantenimiento {
    width: 90%;
    height: 5.25%;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5%;
}

#editar button,
#seleccionar button,
#kilometraje button,
#orden button,
#implemento button,
#mantenimiento button,
#editar a,
#seleccionar a,
#kilometraje a,
#orden a,
#implemento a,
#mantenimiento a {
    width: 100%;
    height: 100%;
}

#boton {
    width: 100%;
    height: 100%;
    max-width: 4%;
    max-height: 7%;
    position: absolute;
    top: 7.5%;
    left: 92.25%;
}

#plus {
    width: 100%;
    height: 100%;
}

/* RESPONSVE */
@media only screen and (orientation: portrait) and (max-width: 1100px) and (min-width: 450px) {
    #tarjetas {
        max-width: 45%;
        margin-left: 3.3%;
    }

    #mensaje {
        max-height: 60%;
        max-width: 60%;
        left: 20%;
        top: 20%;
    }

    #boton {
        max-width: 10%;
        max-height: 7.5%;
        left: 0.5%;
        top: 0.5%;
    }
}

@media only screen and (orientation: portrait) and (max-width: 450px) and (min-width: 384px) {
    #contenedor {
        max-width: 90%;
        top: 10%;
        left: 5%;
        justify-content: center;
        align-items: baseline;
    }

    #tarjetas {
        max-width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #mensaje {
        max-height: 80%;
        max-width: 80%;
        left: 10%;
        top: 10%;
    }

    #boton {
        max-width: 10%;
        max-height: 7.5%;
        left: 0.5%;
        top: 0.5%;
    }
}

@media only screen and (orientation: portrait) and (max-width: 384px) and (min-width: 150px) {
    #contenedor {
        max-width: 90%;
        top: 10%;
        left: 5%;
        justify-content: center;
        align-items: baseline;
    }

    #tarjetas {
        max-width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #mensaje {
        max-height: 80%;
        max-width: 80%;
        left: 10%;
        top: 10%;
    }

    #boton {
        max-width: 17.5%;
        max-height: 7.5%;
        left: 5%;
        top: 1%;
    }
}