<link rel="stylesheet" href="style.css">
<div id="datosCarro">
    <div id="titulo">
        <p>Datos del Vehiculo</p>
    </div>
    <div id="marca">
        <label>Marca:</label>
        <p></p>
    </div>
    <div id="clase">
        <label>Clase:</label>
        <p></p>
    </div>
    <div id="tipo">
        <label>Tipo:</label>
        <p></p>
    </div>
    <div id="año">
        <label>Año:</label>
        <p></p>
    </div>
    <div id="placa">
        <label>Placa:</label>
        <p></p>
    </div>
    <div id="modelo">
        <label>Modelo:</label>
        <p></p>
    </div>
    <div id="motor">
        <label>Motor:</label>
        <p></p>
    </div>
    <div id="chasis">
        <label>Chasis:</label>
        <p></p>
    </div>
</div>
<div id="mantenimiento">
    
</div>