<link rel="stylesheet" href="/css/eleccionGeneral.css">
<form action="/generalList/" method="get" id="ocultar">
    <div id="contenedor">
        <div id="titulo">
            <p>Elecciòn General</p>
        </div>
        <div id="autos">
            <a href="/cars/list/{{user.idUsers}}">
                <button type="button">
                    <img src="/img/logos/auto.jpg" alt="">
                    <p>AUTOS</p>
                </button>
            </a>
        </div>
        <div id="motos">
            <a href="/motorcycles/list/{{user.idUsers}}">
                <button type="button">
                    <img src="/img/logos/moto.jpeg" alt="">
                    <p>MOTO</p>
                </button>
            </a>
        </div>
    </div>
</form>