<link rel="stylesheet" href="/css/index.css" type="text/css">

<div id="imagen">
    <img src="/img/portada/Portada 1.png" alt="">
</div>

<form action="/" method="post">
    <div id="contenedor">
        <div id="frase">
            <h2>
                ¡¡ Bienvenidos al modo administrativo !!
            </h2>
        </div>

        <div id="validacion">
            <input type="text" name="validar" id="" placeholder="Escriba su nombre de usuario."
                required>
        </div>

        <div id="btValidacion">
            <div id="boton">
                <button type="submit">Continuar</button>
            </div>
        </div>
    </div>
</form>