<link rel="stylesheet" href="/css/index.css" type="text/css">

<form action="/" method="post">
    <div id="movs">
        <div id="inicio">
            <img src="/img/logos/RACING ISOTIPO VERTICAL.jpg" alt="">
            <h2>
                ¡¡ Bienvenidos al modo administrativo !!
            </h2>
        </div>

        <div id="validacion">
            <input type="text" name="validar" id="" required>
        </div>

        <div id="btValidacion">
            <div id="boton">
                <button type="submit">Continuar</button>
            </div>
        </div>
    </div>
</form>