#fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0%;
    background: radial-gradient(#988a87 20%, #004a29, black);
}

#contenedor,
#contenido {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 100%;
    height: 100%;
    align-content: center;
    background-color: #ffffff70;
    border-radius: 10px;
}

input,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    border-bottom: 6px solid #004a29;
    transition: all .5s ease;
    width: 100%;
    height: 100%;
}

input:focus,
select:focus,
textarea:focus {
    border-bottom: 6px solid #988a87;
}

body,
a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    color: black;
    text-decoration: none;
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
}

label {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo,
#titulo2 {
    width: 100%;
    height: 100%;
    max-height: 7.5%;
    position: absolute;
    left: 0%;
}

#titulo p,
#titulo2 p {
    color: black;
    font-size: 18px;
    font-weight: bolder;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

#Mensaje {
    font-size: 38px;
    color: rgb(112, 136, 182);
}

/*  BOTONES  */
button {
    cursor: pointer;
    background-color: #004a29;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: white;
    display: block;
    border: 0px solid transparent;
    text-decoration: none;
}

button:focus {
    box-shadow: #988a87 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #988a87 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #988a87 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #988a87 0 3px 7px inset;
    transform: translateY(2px);
}