#contenedor {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 25%;
    border-top-right-radius: 35%;
}

#imagen {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 50%;
    position: absolute;
}

#imagen img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top-right-radius: 35%;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 45%;
}

#titulo {
    width: 100%;
    position: absolute;
    top: 55%;
}

/* Formulario */
#Email {
    width: 100%;
    position: absolute;
    top: 65%;
    left: 0%;
}

#Password {
    width: 100%;
    position: absolute;
    top: 75%;
    left: 0%;
}

input {
    width: 50%;
    height: 50px;
    position: absolute;
    left: 25%;
}

/* Botones */
#ojo {
    width: 100%;
    height: 100%;
    max-width: 6%;
    max-height: 50px;
    position: absolute;
    top: 75%;
    left: 69%;
}

#botonIniciarSesion {
    width: 100%;
    height: 100%;
    max-width: 40%;
    max-height: 7.5%;
    position: absolute;
    bottom: 5%;
    left: 30%;
    border-radius: 10px;
}

#botonIniciarSesion button {
    max-width: 100%;
    max-height: 100%;
}

/* RESPONSIVE */
@media only screen and (orientation: landscape) and (max-width: 1300px) and (min-width: 1000px) {
    #contenedor {
        width: 60%;
        left: 20%;
    }

    #ojo {
        max-width: 7.5%;
        left: 67.5%;
    }
}

@media only screen and (orientation: portrait) and (max-width: 1000px) and (min-width: 667px) {
    #contenedor {
        width: 70%;
        left: 15%;
    }

    #ojo {
        max-width: 10.5%;
        left: 64.5%;
    }
}

@media only screen and (orientation: portrait) and (max-width: 667px) and (min-width: 384px) {
    #contenedor {
        width: 80%;
        left: 10%;
    }

    #ojo {
        max-width: 13.5%;
        left: 61.5%;
    }
}

@media only screen and (orientation: portrait) and (max-width: 384px) and (min-width: 150px) {
    #contenedor {
        width: 90%;
        left: 5%;
    }

    #ojo {
        max-width: 16.5%;
        left: 58.5%;
    }
}