#contenedor {
    max-width: 90%;
    max-height: 80%;
    position: absolute;
    top: 14.5%;
    left: 5%;
    text-align: center;
}

/* IMAGEN */
#imagen {
    width: 42.5%;
    height: 90%;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 25px;
    border: white solid 2px;
}

#imagen img {
    border-radius: 25px;
}

#titulo {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 5%;
}

#titulo p {
    font-size: 30px;
}

/* Aquí comienza formulario */
#formulario {
    background-color: white;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 10px;
    border: 2px double;
}

#nombreUsuario,
#identificacion,
#correoUsuario,
#celularUsuario,
#Nick,
#Contraseña {
    width: 100%;
    height: 100%;
    max-width: 90%;
    max-height: 10%;
    position: absolute;
    left: 5%;
    top: 14%;
}

#nombreUsuario {
    top: 25.5%;
}

#correoUsuario {
    top: 37%;
}

#celularUsuario {
    top: 48.5%;
}

#Nick {
    top: 60%;
}

#Contraseña {
    top: 71.5%;
}

#ojo {
    position: absolute;
    top: 73%;
    left: 88%;
    width: 100%;
    height: 100%;
    max-width: 7%;
    max-height: 7%;
}

#nombreUsuario label,
#identificacion label,
#correoUsuario label,
#celularUsuario label,
#Nick label,
#Contraseña label {
    color: black;
    width: 100%;
    height: 100%;
    max-width: 27.5%;
    max-height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

#nombreUsuario input,
#identificacion input,
#correoUsuario input,
#celularUsuario input,
#Nick input,
#Contraseña input {
    width: 100%;
    height: 100%;
    max-width: 67.5%;
    max-height: 70%;
    position: absolute;
    top: 15%;
    right: 0%;
}

#boton {
    position: absolute;
    bottom: 5%;
    left: 40%;
    width: 30%;
    height: 7.5%;
}

#boton button {
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}