<link rel="stylesheet" href="style.css">
<form action="/cars/matricula/add/" method="post">
    <div id="datosCarro">
        <div id="marca">
            <label>Marca:</label>
            <p></p>
        </div>
        <div id="clase">
            <label>Clase:</label>
            <p></p>
        </div>
        <div id="tipo">
            <label>Tipo:</label>
            <p></p>
        </div>
        <div id="año">
            <label>Año:</label>
            <p></p>
        </div>
        <div id="placa">
            <label>Placa:</label>
            <p></p>
        </div>
        <div id="modelo">
            <label>Modelo:</label>
            <p></p>
        </div>
        <div id="motor">
            <label>Motor:</label>
            <p></p>
        </div>
        <div id="chasis">
            <label>Chasis:</label>
            <p></p>
        </div>
    </div>
    <div id="numeroDeColumnas">
        <label>Columnas Necesarias:</label>
        <input type="text" name="" id="columnas">
        <button type="button" onclick="tabla.generarTablas()">Generar</button>
    </div>
    <div id="formulario"></div>
</form>

<script src="/js/tabla/tabla.js"></script>