<link rel="stylesheet" href="/css/autos/agregar.css" />

<form action="/cars/add/{{user.idUsers}}" method="post" enctype="multipart/form-data">

    <div id="contenedor">
        <!-- Aquí comienza la seccion de imagen -->
        <div id="imagen">
            <label>Foto del Vehículo</label>
            <div id="cambioImagen">
                <img src="/img/icons/black/no-car.png" id="imagenPrevisualizacion" />
            </div>
            <input type="file" name="imageCars" id="seleccionArchivos" accept="image/*" required />
        </div>
        <!-- Aquí termina la sección de imagen -->

        <!-- Aquí comienza el formulario -->
        <div id="formulario">
            <div id="titulo">
                {{#each maxId}}
                <h5><b>NUEVO CARRO</b></h5>
                <input type="text" name="idCarro" value="{{maximo}}" id="numero" readonly>
                {{/each}}
            </div>

            <div id="Placa">
                <label>Placa:</label>
                <input type="text" name="licenseplateCars" required>
            </div>

            <div id="Marca">
                <label>Marca:</label>
                <input type="text" name="brandCars" id="" required>
            </div>

            <div id="Modelo">
                <label>Modelo:</label>
                <input type="text" name="modelCars" id="" required>
            </div>

            <div id="FechaMatricula">
                <label>Fecha de Matrícula:</label>
                <input type="date" name="yearsLicenseplateCars" id="" required>
            </div>

            <div id="FechaCasudidad">
                <label>Fecha Caducidad Matrícula:</label>
                <input type="date" name="YearsExpirationLicensePlateCars" id="" required>
            </div>

            <div id="Clase">
                <label>Clase:</label>
                <select name="classCars" id="">
                    <option value="A">
                        <p>A</p>
                    </option>

                    <option value="B">
                        <p>B</p>
                    </option>

                    <option value="C">
                        <p>C</p>
                    </option>

                    <option value="D">
                        <p>D</p>
                    </option>

                    <option value="E">
                        <p>E</p>
                    </option>

                    <option value="F">
                        <p>F</p>
                    </option>

                    <option value="SUV">
                        <p>SUV</p>
                    </option>

                    <option value="M">
                        <p>M</p>
                    </option>

                    <option value="S">
                        <p>S</p>
                    </option>
                </select>
            </div>

            <div id="Color">
                <label>Color:</label>
                <input type="text" name="colourCars" id="" required>
            </div>

            <div id="Chasis">
                <label>Chasis:</label>
                <input type="text" name="chassisCars" id="" required>
            </div>

            <div id="Motor">
                <label>Motor:</label>
                <input type="text" name="engineCars" id="" required>
            </div>

            <div id="Año">
                <label>Año:</label>
                <input type="text" name="yearsCars" required>
            </div>
        </div>

        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>
<script src="/js/previsualizacion.js"></script>