<link rel="stylesheet" href="/css/autos/lista.css">
<form action="/cars/list/{{user.idUsers}}" method="get"></form>
<div id="contenedor">
    <div class="row">
        <div id="tarjeta">
            <div id="imagen">
                <img src="/img/cars/" alt="">
            </div>
            <div id="nombre">
                <p></p>
            </div>
        </div>
    </div>
</div>
<div id="boton">
   <a href="/cars/add/{{user.idUsers}}"><button type="button"><img src="/img/icons/black/plus.png" alt="" id="plus"></button></a>
</div>